.m-hamburger {
  &__trigger {
    position: fixed;
    z-index: $z-index-hamburger + 1;
    top: 30px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 30px;

    span {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: '';
      }

      &,
      &::before,
      &::after {
        display: block;
        width: 25px;
        height: 1px;
        transition: 1s;
        background-color: #fff;
      }

      &::before {
        top: -5px;
      }

      &::after {
        bottom: -5px;
      }

      &.colored {
        &,
        &::before,
        &::after {
          background-color: $color-fujiiro;
        }
      }
    }
  }

  &__menu {
    position: fixed;
    z-index: $z-index-hamburger;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    transition: 0.3s ease;
    background-color: rgba(#fff, 0.9);

    &.fade-enter,
    &.fade-leave-to {
      opacity: 0;
    }
  }

  &__item {
    text-align: center;
    & + & {
      margin-top: 5px;
    }
  }

  &__link {
    line-height: 40px;
    padding: 0 10px;
    color: $color-usuzumi;

    &[href] {
      color: $color-kuro;
    }

    &--close {
      position: relative;
      display: inline;
      padding-left: 20px;
      color: $color-kuro;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 12px;
        height: 1px;
        margin: auto;
        content: '';
        background-color: $color-kuro;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
