.m-header {
  flex-shrink: 0;
  width: 40.1vh;
  padding: 100px 30px 0;
  color: #fff;
  background: linear-gradient(-73.2deg, $color-fujiiro, $color-shioniro);

  &__title {
    font-size: 16px;
  }
}
