.m-index {
  @include sp {
    &::before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(-16.8deg, $color-fujiiro, $color-shioniro);
    }
  }

  &__section {
    & + & {
      margin-top: 150px;
    }
  }

  &__siteTitle {
    font-size: 20px;
  }

  &__menu {
    margin-top: 40px;
  }

  &__menu-item {
    display: inline-block;
    margin-right: 20px;
  }

  &__menu-link {
    @include link(#fff);
    display: inline-flex;
    color: #fff;
  }

  &__head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 0 50px;
    color: #fff;
    background: linear-gradient(-16.8deg, $color-fujiiro, $color-shioniro);

    @include sp {
      position: fixed;
      top: 0;
      height: 141.4vw;
      background: transparent;
    }
  }

  &__body {
    padding: 80px 50px;
    @include sp {
      position: relative;
      margin-top: 141.4vw;
      padding-top: 0;
    }
  }

  &__title {
    font-size: $font-size-pagetitle;
    color: $color-shioniro;
    @include sp {
      color: #fff;
    }
  }

  &__footer {
    font-size: 11px;
    position: relative;
    padding: 10px 50px;
    color: $color-usuzumi;
    @include sp {
      color: #fff;
    }
  }
}
