.m-work {
  &__title {
    @extend %title;
  }

  &__featuredImage {
    margin: 50px 0;
  }

  &__table {
    @extend %table;
    margin: 30px 0;
  }

  &__content {
    @extend %markdown;
    margin: 50px 0;
  }

  &__images {
    margin: 50px 0;
  }
}
